# Ignore the virtual environment folder
venv/

# macOS system files
.DS_Store

# VS Code settings (optional but recommended)
.vscode/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints (if used)
.ipynb_checkpoints/model/review_classifier.pkl
models/*.pkl
*.pkl
model/*.pkl
models/*.pkl
*.pkl
models/*.pkl
